Package: com.razzile.crusherv3
Name: Crusher V3
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Razzile
Author: Razzile
Section: Tweaks
Version: 0.0.1-32
Installed-Size: 360
